.calva
.cpcache

.lsp/*
!.lsp/config.edn

.portal

.clj-kondo/*
!.clj-kondo/config.edn

.nrepl-port

target/
resources/public/js
resources/public/berkelana-tiled
resources/public/tiled143
resources/fonts
node_modules/
.shadow-cljs

.zzz
*.ini
*.log